<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("head-partial") -%>

<body>

  <!-- Navigation section -->
  <%- include("navigation-partial") -%>
  <hr />



  <!-- About section -->
  <section id="about-section">

    <h2> About Page </h2>

    <hr />

    <p class="home-description">
      I love to cook and learn about all things culinary, and am always up for new experiences dining out. These are some of the dishes
      I've been inspired to create or aspire to recreate from my travels around the world and through the television. Let's eat!
    </p>

  </section>



  <!-- Footer section -->
  <%- include("footer-partial") -%>

</body>

</html>
