<!-- Footer section -->
<section id="footer">

  <a href="https://www.instagram.com/philipjlin" target="_blank"><img class="social-icon" src="/images/instagram.png" alt="ig" /></a>
  <a href="https://www.twitter.com/hiphil_games" target="_blank"><img class="social-icon" src="/images/twitter.png" alt="tw" /></a>
  <a href = "mailto: philipjlin@gmail.com" target="_blank"><img class="social-icon" src="/images/gmail.png" alt="gm" /></a>

  <p class="footer-msg">Designed by Philip Lin</p>
</section>
