<!-- Navigation section -->
<section id="navigation">

  <div class="top-banner">

    <form id="search-form" action="/search" method="post">

      <input id="search-bar" type="text" name="searchTerms" placeholder="Search..">
      <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>

  <hr />

  <nav id="navbar" class="navbar navbar-expand-lg">
    <h1 class="navbar-brand"> Good Eats </h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id=="#navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">POSTS</a>
        </li>
        <button class="nav-item compose-btn">
          <a class="nav-link" href="/compose">NEW POST</a>
        </button>
      </ul>
    </div>
  </nav>
</section>
